body {
  font-family: Arial;
  font-size: 160%;
  color: skyblue;
  text-shadow: 2px 2px black;
  background-color: #563d7c;
}

a {
  color: rgb(200, 200, 107);
  text-decoration: none;
  text-shadow: 1px 1px black;
  color: orange;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: green;
  border-radius: 50px;
  padding: 20px 20px;
  color: white;
  text-shadow: 1px 1px black;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: skyblue;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color:rgb(86, 61, 124);
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: skyblue;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}
